body{
    background: url(dark-abstract-black-minimal-4k-q0-2880x1800.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
button{
    margin-top: 0;
    margin: 40px;
    font-size: 26px;
    width: 400px;
    height: 150px;
    border-radius: 50px;
    background: transparent;
    color: rgb(255, 255, 255);
    text-shadow:
    0 0 3px rgb(39, 0, 0),
    0 0 5px rgb(255, 255, 255);
    border: solid 1px rgb(61, 61, 61);
    box-shadow: 
    0 0 10px rgb(61, 61, 61),
    inset 20px 20px 10px rgb(61, 61, 61),
    0 0 15px rgb(61, 61, 61);
    cursor: pointer;
    transition: all .9s;
}
button:hover{
    box-shadow: 
    0 0 10px rgb(61, 61, 61),
    inset -20px -20px 10px rgb(61, 61, 61),
    0 0 15px rgb(61, 61, 61);    
    transform: scale(1.1);
}
button:active{
    box-shadow: 
    0 0 10px rgb(61, 61, 61),
    inset -20px -20px 10px rgb(61, 61, 61),
    0 0 15px rgb(61, 61, 61);    
    transform: scale(1.3);
}
.top{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.navbar{
    justify-content:center;
    align-items: center;
    display: flex;
    width: 300px;
    height: 90px;
    margin: 10px;
    font-size: 40px;
    border-radius: 50px;
    background: transparent;
    color: rgb(255, 255, 255);
    text-shadow:
    0 0 3px rgb(39, 0, 0),
    0 0 5px rgb(255, 255, 255);
    border: solid 1px rgb(61, 61, 61);
    box-shadow: 
    0 0 10px rgb(61, 61, 61),
    inset 20px 20px 10px rgb(61, 61, 61),
    0 0 15px rgb(61, 61, 61);
    cursor: pointer;
    transition: all .9s;
}
.navbar:hover{
    box-shadow: 
    0 0 10px rgb(61, 61, 61),
    inset -20px -20px 10px rgb(61, 61, 61),
    0 0 15px rgb(61, 61, 61);    
    transform: scale(1.1);
}
.navbar:active{
    box-shadow: 
    0 0 10px rgb(61, 61, 61),
    inset -20px -20px 10px rgb(61, 61, 61),
    0 0 15px rgb(61, 61, 61);    
    transform: scale(1.3);
}
.new1{
    display: block;
    border-radius: 50px;
    margin-bottom: 15px;
    margin-top: 15px;
    display: flex;
    box-shadow: 
    0 0 5px white,
    inset 0 0 10px white,
    0 0 15px white;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.new2{
    border-radius: 50px;
    display: block;
    margin-top: 15px;
    display: flex;
    box-shadow: 
    0 0 5px white,
    inset 0 0 10px white,
    0 0 15px white;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
